html{
    box-sizing: border-box;
}
*, *::after, *::before{
    box-sizing: inherit;
}
.header{
    background-color: #ecf0f1;
    padding: 0rem;
}
.news-categories{
    margin-top: 1.75rem;
    margin-bottom: 0.5rem;
}
.news-categories a{
    color: #777777;
    transition: transform 0.2s;
}
.news-categories a:hover{
    color: black;
    transform: scale(1.2);
    border-bottom: 1px solid blue;
}
.user-actions a{
    color: black;
}
.logo{
    margin-left: 30px;
    margin-top: 10px;
}
.logo a{
    font-size: 1.75rem;
    color: black;
    letter-spacing: 0.2rem;
    font-weight: 600;
    text-decoration: solid;
}
.search-bar{
    border: 1px solid transparent;
    border-radius: 10px;
    min-width: 620px;
    margin-left: 100px;
    height: 52px;
    margin-top: 10px;
}
.sign-in span{
    color: white;
}
.sign-in{
    margin-top: 20px;
    margin-left: 25px;
    min-width: 125px;
    margin-right: 20px;
}
.dots{
    margin-top: 27px;
}
.dots img{
    height: 26px;
}
.setting-gear{
    height: 25px;
    margin-left: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 0px;
    transition: transform 0.2s;
}
.setting-gear:hover{
    box-shadow: 2px 2px 2px #999;
    transition: box-shadow 0.15s linear 0s;
    transform: scale(1.5);
}
.help-icon{
    height: 22px;
    margin-left: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 0px;
    transition: transform 0.2s;
}
.help-icon:hover{
    box-shadow: 2px 2px 2px #999;
    transition: box-shadow 0.15s linear 0s;
    transform: scale(1.5);
}

.start-title{
    margin-left: 1.85rem;
    margin-top: 1.5rem;
}
.sub-title{
    font-size: 15px;
    margin: 0;
    padding: 0;
    opacity: 0.8;
}
.title{
    font-size: 30px;
    font-weight: 500;
}
.content{
    margin-left: 2rem;
    margin-right: 0;
    width: 60%;
    border: 1px solid gray;
    border-radius: 20px;
    margin-top: 2rem;
}
.content2{
    margin-bottom: 0;
    height: 22%;
    width: 33%;
    margin-left: 0;
    border: 1px solid gray;
    border-radius: 20px;
    margin-top: 2rem;
}
.news1{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.stories{
    margin-left: 1rem;
}
hr{
    margin-left: 1rem;
    margin-right: 1rem;
}
